.tinder_nope .fa-history {
    opacity: 1.0;
    transform: scale(1);
}

.tinder_love .fa-heart {
    opacity: 1.0;
    transform: scale(1);
}

.tinder_nope .fa-remove {
    opacity: 1.0;
    transform: scale(1);
}

.tinder--cards {
    padding-top: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
}

.tinder--card {
    display: inline-block;
    max-width: 500px;
    overflow: hidden;
    will-change: transform;
    transition: all 0.3s ease-in-out;
}

.tinder--image {
    border-radius: 10px;
}

.moving.tinder--card {
    transition: none;
}

.tinder--card img {
    max-width: 80%;
    pointer-events: none;
}

.tinder--card h3 {
    margin-top: 0px;
    font-size: 25px;
    padding: 0 16px;
    pointer-events: none;
}

.tinder--card p {
    margin-top: 10px;
    font-size: 15px;
    padding: 0 16px;
    pointer-events: none;
}

.tinder--buttons {
    flex: 0 0 100px;
    text-align: center;
    padding-top: 20px;
}

    .tinder--buttons button {
        border-radius: 50%;
        line-height: 60px;
        width: 60px;
        border: 0;
        background: #17a2b8;
        display: inline-block;
        margin: 0 8px;
    }

        .tinder--buttons button:focus {
            outline: 0;
        }

    .tinder--buttons i {
        font-size: 32px;
        vertical-align: middle;
    }

.fa-heart {
    color: #e83e8c;
}

.fa-remove {
    color: #101113;
}

.fa-history {
    color: #ffffff;
}