@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Please <a asp-area="Identity" asp-page="/Account/Login">Login</a> if you already have an account or <a asp-area="Identity" asp-page="/Account/Register">Register</a> if you are new here.
    </p>
</div>
